.env
venv/
data/
output/
__pycache__/
node_modules/

*.csv
*.mp4
*.json
# *.txt
*.pdf
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.wim
*.iso
*.img
*.vhdx
*.vhdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.mp3
*.wav
*.ogg
*.m4a
*.flac
*.aac
*.wma
*.m4b
.DS_Store
.vscode
.idea
.pytest_cache
.ruff_cache
.env.local
.env.development.local
.env.test.local
.env.production.local